.glyphicon[_ngcontent-c5] {
    margin-right: 4px !important;
  }
  .pagination[_ngcontent-c5] .glyphicon[_ngcontent-c5] {
    margin-right: 0 !important;
  }
  .pagination[_ngcontent-c5] a[_ngcontent-c5] {
    color: #555;
  }
  .panel[_ngcontent-c5] ul[_ngcontent-c5] {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .news-item[_ngcontent-c5] {
    padding: 4px;
    margin: 0;
    border-bottom: 1px dotted #555 !important;
  }
  .panel-default[_ngcontent-c5] > .panel-heading[_ngcontent-c5] {
    background-image: linear-gradient(to bottom, #054838 0, #0fafb7 100%);
    color: #fff !important;
  }
  .news-item[_ngcontent-c5] .title[_ngcontent-c5] {
    color: #64707b !important;
  }
  .newsandbulletins.nav-pills[_ngcontent-c5] a.active.show[_ngcontent-c5] {
    color: #fff !important;
    background: teal !important;
    border-radius: 0 !important;
  }
  .newsandbulletins.nav-pills[_ngcontent-c5] a[_ngcontent-c5] {
    color: teal !important;
    border: 1px solid teal;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .newsandbulletinstabcontent[_ngcontent-c5] {
    border: 1px solid teal !important;
    min-height: 300px !important;
  }
  .newsandbulletins.nav-pills[_ngcontent-c5]
    > li[_ngcontent-c5]
    > a[_ngcontent-c5] {
    border-radius: 0 !important;
  }
  .newsandbulletins.nav-pills[_ngcontent-c5]
    > li[_ngcontent-c5]
    > a[_ngcontent-c5]:hover {
    color: #fff !important;
    background: teal !important;
    font-weight: 700 !important;
  }
  .home-heading[_ngcontent-c5] h1[_ngcontent-c5],
  .home-sub-heading[_ngcontent-c5] p[_ngcontent-c5] {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  }
  @media (min-width: 768px) {
    .home-heading[_ngcontent-c5] h1[_ngcontent-c5],
    .home-sub-heading[_ngcontent-c5] p[_ngcontent-c5] {
      margin-left: 5%;
    }
  }
  @media (min-width: 992px) {
    .home-heading[_ngcontent-c5] h1[_ngcontent-c5],
    .home-sub-heading[_ngcontent-c5] p[_ngcontent-c5] {
      margin-left: 5%;
    }
  }